$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$primaryColor: #5e49ff;

$primaryColorWithOpacity: #cac5ec;
$primaryColorWithOpacity1: #cef1f2;

$greyColor: #7c7786;
$greyColor1: #4d4c4d;
$WhiteColor: #ffffff;
$error: #d44231;
$primaryButton: #3acbf7;

$desktopBreakpoint: 992px;

$primary-linear: rgb(156, 14, 156);
$secondary-linear: midnightblue;

$backgroundLinear: linear-gradient(45deg, $primary-linear, $secondary-linear);


@import '@fortawesome/fontawesome-free/css/all.css';
