@import './configs.scss';

.curso-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do card */
  margin: 5px;
  background-color: #f9f9f9;
  padding: 3%;

  .imgModulo {
    width: 250px;
    height: 200px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Garante que a imagem mantenha suas proporções */
  }

  .curso-info {
    padding: 16px;

    h2 {
      font-size: 18px;
      margin-bottom: 8px;
    }

    h2 {
      color: $primaryColor;
      text-decoration: none;
      padding: 0.5rem 1rem;  
      }
    
    h2:hover{
      background-color: $primaryColorWithOpacity;
      border-radius: 4px;
      color:$primaryColor;
      transition: all 0.2s ease-out;
      font-size: $fontBold;
     }

    /* Adicione estilos adicionais conforme necessário */

    @media screen and (min-width: $desktopBreakpoint) {
      .curso-card {
        display: flex;
        flex-direction: row;


      }
      .imgModulo{
        width: 120px;
        height:120px; /* Ajuste a altura conforme necessário */
        object-fit: cover; /* Garante que a imagem mantenha suas proporções */
      }

    }


  }
}