@import './configs.scss';

.footer {
  background: $backgroundLinear;
  color: #fff;
  padding: 20px;

  &__links {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; // Por padrão, links empilhados na vertical para dispositivos móveis

    a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
  
    }
  }

